<section>
  <div class="banner-divider"></div>
  <div id="carouselExampleSlidesOnly" class="carousel slide banner-home" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="banner-home home-container" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://images.unsplash.com/photo-1666356011523-e20135aacbd0?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);" class="d-block w-100" alt="First slide">
          <h1 class="banner-header">The best products, with the best ingredients, for the best deals.</h1>
            <div>
              <%= link_to "SHOP NOW", products_path, class: 'btn-cta' %>
            </div>
        </div>
      </div>
  <div class="carousel-item">
        <div class="banner-home home-container" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1555704574-f9ecf4717298?ixlib=rb-1.2.1&ixid=MnwxMjA3[…]90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1760&q=80);" class="d-block w-100" alt="Second slide">
          <h1 class="banner-header">We provide nourishment that you can pronounce.</h1>
            <div>
              <%= link_to "SHOP NOW", products_path, class: 'btn-cta' %>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="banner-home home-container" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1589723933517-a08e544063cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);" class="d-block w-100" alt="Third slide">
          <h1 class="banner-header">Order with Veggielite and start cooking within the hour.</h1>
            <div>
              <%= link_to "SHOP NOW", products_path, class: 'btn-cta' %>
            </div>
        </div>
      </div>


    </div>
  </div>
</section>