
<div class="banner"
     style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.acquaviva.in/images/slider01.jpg);">
  <div class="container header">
    <h2>M-market</h2>
    <br>
    <p>The fastest & easiest way to find a fancy and relaxable bathroom around you</p>
    <%= link_to "Explore Our Products", products_path(@products), class: 'button btn btn-gradient rounded-1' %>
  </div>
</div>

<div class="container">
<br>
  <div class="header d-flex justify-content-around my-3">Discover FlashBath Experiences</div>
    <div class="cards"> 
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.decoist.com/wp-content/uploads/2020/05/Serene-modern-rustic-bathroom-with-stone-walls-and-a-glass-shower-area-with-rainfall-shower-20259.jpg)">
        <h3><a href="https://www.clearwaterbaths.com/inspiration/bathroom-blog/bathroom-relaxation-tips">Inspiration for relaxation</a></h3>
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.homedit.com/wp-content/uploads/2015/03/Luxurious-Bathroom-Design.jpg)">
        <h3><a href="#">Questions about hosting</a></h3>
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://cdn.home-designing.com/wp-content/uploads/2014/10/stunning-bathroom-design.jpeg)">
      </div>
    </div>
  </div>
</div>
<br>
<br>
